@import url(https://fonts.googleapis.com/css?family=Londrina+Solid);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import "components/navbar.css";
@import "components/header.css";
@import "components/parallax.css";
@import "components/mailing_list.css";
@import "sections/home.css";
@import "sections/policy.css";

:root {
    /* Query Sizes */
    --bp-largest: 75em;
    --bp-large: 68.75em;
    --bp-medium: 56.25em;
    --bp-small: 37.5em;
    --bp-smallest: 31.25em;
    
    /* Colors */
    --yellow-light1: #F7CA85;
    --yellow: #F6C272;
    --yellow-dark1: #F3AF49;
    --blue-light2: #77CBE2;
    --blue-light1: #61C2DD;
    --blue: #49BAD9;
    --blue-dark1: #2DAED2;
    --green: #9CCB65;
    --red: #F35050;
    --red-dark1: #F02929;
    --darkBlue: #3F569A;
    --darkGrey: darkslategrey
}

* {
    margin: 0;
    padding: 0; 
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
    background-color: var(--blue);
}

body {
    font-family: 'Open Sans';
    font-size: 1.5rem;
    color: var(--darkGrey);
}

h1, h2, h3, h4 {
    font-family: 'Londrina Solid';
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: inherit
}

a.disable {
    pointer-events: none;
}

.container {
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    max-width: 80rem;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


img {
    width: 100%;
}

.kangaroo {
    width: 40rem;
}
