.mailing_list_call {
    background-color: rgba(255, 255, 255, 0.8);
    color: var(--darkGreye);
    padding: 2rem 4rem;
    border-radius: 2rem;
    width: 60rem;
}

.mailing_list_call__title {
    text-transform: uppercase;
    font-size: 2.4em;
    margin-top: -3rem;
}

.mailing_list_call__text {
    font-size: 1.2em;
}

.mailing_list_call__text:last-of-type {
    margin-bottom: 1.5rem;
}

.form_item {
    display: flex;
    justify-content: left;  
    margin: 2rem 0;
}

.form_item .form_text{
    display: block;
    width: 80%;
    height: 2.8rem;
    padding: 0.5rem;
    border: none;
    border-radius: 10rem;
    text-indent: 10px;
    box-shadow: 0px 0px 0px var(--darkBlue);
    transition: all 0.3s ease-in-out;
}

.form_item .form_text:focus {
    outline: none;
    box-shadow: 0px 3px 0px var(--darkBlue);
}

.form_item .button{
    display: block;
    width: 10rem;
    height: 2.8rem;
    border: none;
    border-radius: 99px;
    margin-left: 0.5rem;
    background-color: var(--darkBlue);
    color: white;
    transform: translateY(0px);
    transition: all 0.1s ease-in-out;
}

.form_item .button:focus{
    outline: none;
}

.form_item .button:hover {
    transform: translateY(-3px);
    box-shadow: 0px 3px 3px #aaa;
}

.form_item .button:active {
    transform: translateY(-1px);
}
