
.navbar {
    background-color: rgba(255, 255, 255, 0.2);
    position: -webkit-sticky;
    position: sticky;
    top: 0rem;
    display: block; 
    z-index: 120;
}

.navbar__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.navbar__item {
    list-style-type: none;
    margin: 0;
    font-size: 1.1em;
    padding: 1.5rem 2.5rem;
    text-transform: uppercase;
    background-color: transparent;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.navbar__item.disable {
    color: rgba(255, 255, 255, 0.4);
}

.navbar__item:not(.disable):hover {
    background-color: rgba(255, 255, 255, 0.3);
}

@media only screen and (max-width: 600px) {
    .navbar__item {
        font-size: 0.9em;
        padding: 1rem 2rem;
    }
}  

@media only screen and (max-width: 400px) {
    .navbar__item {
        font-size: 0.7em;
        padding: 1rem 0.8rem;
    }
}