:root {
  --normal-padding: 6rem;
  --small-padding: 3rem;
  --smallest-padding: 1.5rem;
}

/* Helper Function */
/* Parallax Styles */
.parallax-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 8px;
    perspective-origin: 0%;
}

.image, .foreground__image, .background__image {
    position: absolute;
    transform-origin: 0 50%;
}

.background__image {
    transform: translateZ(0px) scale(1);
    height: 140vh;
    width: auto;
    position: relative;
}

.wrapper {
    position: relative;
}

.foreground__image {
    bottom: 0;
    left: 0;
    transform: translateZ(2px) scale(0.75);
}

/* text */
.foreground__image.text {
    top: -4rem;
    left: var(--normal-padding);
    width: 50%;
    transform: translateZ(1.5px) scale(0.8);
    z-index: 50;
    padding: 2rem;
}

/* back bush */
.foreground__image.bush_back {
    bottom: 0rem;
    height: 35rem;
    width: auto;
    transform: translateZ(2.2px) scale(0.7);
}

/* kangaroo */
.foreground__image.kangaroo {
    bottom: 2vh;
    left: 3%;
    max-width: 50rem;
    width: 80%;
    z-index: 20;
    transform: translateZ(5px) scale(0.375);
}

/* mailing list call */
.foreground__image.mailing_list_call {
    bottom: 20rem;
    left: 20%;
    width: 60rem;
    z-index: 20;
    transform: translateZ(5px) scale(0.375);
}

/* front bush */
.foreground__image.bush_front {
    z-index: 30;
    height: 35rem;
    width: auto;
}

@media only screen and (max-width: 700px) {
    /* text */
    .foreground__image.text {
        top: -4rem;
        left: 0;
        width: 100%;
        padding: 4rem;
    }

    /* front bush */
    .foreground__image.bush_front {
        z-index: 30;
        height: calc(35rem - 15vw);
        width: auto;
    }
}  


@media only screen and (max-width: 300px) {

    /* text */
    .foreground__image.text {
        top: -4rem;
        left: 0;
        width: 100%;
        padding: 3rem;
    }

    /* mailing list call */
    .foreground__image.mailing_list_call {
        bottom: 100rem;
        left: 0;
        width: 90%;
        transform: translateZ(5px) scale(0.375);
    }
}  

@media only screen and (max-height: 400px) {
    /* kangaroo */
    .foreground__image.kangaroo {
        bottom: -5rem;
    }
}
