
:root {
    --normal-padding: 6rem;
    --small-padding: 3rem;
    --smallest-padding: 1.5rem;
  }
  
  /* Helper Function */
  /* Parallax Styles */
  .parallax-container {
      position: relative;
      width: 100%;
      height: 100vh;
      overflow-x: hidden;
      overflow-y: auto;
      -webkit-perspective: 8px;
              perspective: 8px;
      -webkit-perspective-origin: 0%;
              perspective-origin: 0%;
  }
  
  .image, .foreground__image, .background__image {
      position: absolute;
      -webkit-transform-origin: 0 50%;
          -ms-transform-origin: 0 50%;
              transform-origin: 0 50%;
  }
  
  .background__image {
      -webkit-transform: translateZ(0px) scale(1);
              transform: translateZ(0px) scale(1);
      min-height: 170vh;
      width: auto;
      position: relative;
      -o-object-fit: cover;
         object-fit: cover;
      -webkit-filter: blur(5px);
              filter: blur(5px);
  }
  
  .wrapper {
      position: relative;
  }
  
  .foreground__image {
      bottom: 0;
      left: 0;
  }
  
  /* text */
  .foreground__image.hero {
      top: -4rem;
      width: 100%;
      -webkit-transform: translateZ(1.5px) scale(0.8);
         -moz-transform: translateZ(1.5px) scale(0.8);
              transform: translateZ(1.5px) scale(0.8);
      z-index: 50;
      padding: 3rem;
  }
  
  /* back bush */
  .foreground__image.bush_back {
      bottom: 0rem;
      height: 35rem;
      width: auto;
      -webkit-transform: translateZ(2.2px) scale(0.7);
         -moz-transform: translateZ(2.2px) scale(0.7);
              transform: translateZ(2.2px) scale(0.7);
  }
  
  /* mailing list call */
  .foreground__image#section_mailing_list {
      bottom: 15vh;
      width: 100%;
      z-index: 20;
      -webkit-transform: translateZ(5px) scale(0.375);
         -moz-transform: translateZ(5px) scale(0.375);
              transform: translateZ(5px) scale(0.375);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: end;
      padding: 0 1rem;
  }
  
  #section_mailing_list .kangaroo {
      margin-top: 2rem;
      max-width: 70%;
  }
  
  /* front bush */
  .foreground__image.bush_front {
      z-index: 30;
      height: 35rem;
      width: auto;
  }
  
  
  @media only screen and (max-width: 900px) {
  
      /* front bush */
      .foreground__image.bush_front {
          z-index: 30;
          height: calc(35rem - 15vw);
          width: auto;
      }
  
      /* mailing list call */
      .foreground__image#section_mailing_list {
          bottom: -5rem;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          padding: 0 1rem;
      }
  }  
  
  
  @media only screen and (max-width: 500px) {
      .background__image {
          margin-top: 10rem;
      }
  
      /* mailing list call */
      .foreground__image#section_mailing_list {
          bottom: 5rem;
      }
  }